.MuiPaper-root {
  background-color: #282c34 !important;
  color: white !important;
  width: 100%;
  margin: 15px;
  padding: 10px;
  border-color: rgba(255, 255, 255, 0.12) !important;
}

.MuiBox-root {
  background-color: #1d2025;
}

.tracklist {
  background-color: #1d2025;
  width: 500px;
  border: 2px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  margin-top: 15px !important;
  text-align: center !important;
  color: white;
}

.MuiListItem-root {
  border-color: rgba(255, 255, 255, 0.12) !important;
  width: calc(100% - 30px) !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.MuiListSubheader-root {
  color: rgba(255, 255, 255, 0.7) !important;
  text-transform: uppercase;
  font-size: 1.5rem !important;
}

.MuiCircularProgress-root {
  color: white !important;
  margin-top: 100px !important;
}

main {
  display: flex;
}
