.saved-list-header {
  display: flex;
  padding-bottom: 20px;
}

.saved-list-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2em;
  width: 55%;
}

.saved-list-header-left {
  font-size: 1.2em;
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.saved-list-header-left p {
  margin: 0;
}

.saved-list-header-corner {
  width: 10%;
  padding-top: 1em;
  padding-right: 1em;
}

.IconButton-root {
  padding: 0;
}
