header {
  height: 120px;
  width: 100%;
  border-bottom: 3px solid white;
  display: flex;
  justify-content: space-around;
}

.weather-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.weather-description p {
  width: 100%;
  font-size: 1.6rem;
  margin: 0;
}

.weather-temperature {
  display: flex;
  align-items: center;
}

.weather-temperature p {
  font-size: 4rem;
  margin-right: 5px;
}

.min-max-temperature p {
  font-size: 2.5rem;
  margin: 0;
}
